body{
    margin:0px;
    padding:0px;
}
.main_text{
    padding:80px;
    margin:0px;
    color:#F5F5F4;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align:center;
    font-weight: 500;
    font-size:45px;
    letter-spacing: 5px;
    
}


.WelcomePage {
     width:100%;
    min-height:300px;
    background-color:#0D1B2A;
    padding:0;
    margin:0;
    
    
    
}