body {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
.header {
  background-color: rgb(255, 255, 255);
  max-height: 80px;
  margin: 0px;
  padding: 0px;
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: fixed;
  max-height: 10%;
}

.menu {
  display: flex;
}
.right-side {
  display: flex;
  position: absolute;
  right: 2vw;
}
.menu-item {
  padding-right: 30px;
  list-style: none;
  margin-top: 3%;

  color: black;
  font-weight: 600;
  font-size: 14px;
}
.btn-buy {
  font-size: 12px;
  font-weight: 600;
  color: white;
  background-color: rgb(170, 210, 54);
  padding: 9px 34px;

  border-radius: 4px;
  margin-top: 20px;

  text-align: center;
  max-height: 30%;
  height: 100%;
}
.logo {
  width: 40px;
  height: 40px;
  padding: 15px;
  padding-left: 25px;
  padding-bottom: 20px;
}
.home-page {
  background-image: url("images/background.png");
  width: 100vw;
  height: 100vh;
  max-height: 95vh;
}
.main-text {
  font-size: 44px;
  font-weight: 600;
  letter-spacing: 8.8px;
  line-height: 1.2;

  width: 100%;

  max-width: 80%;
  text-align: center;
}
.text {
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: #8b8b99;
  text-align: center;
  max-width: 85%;
}
.content {
  position: relative;
  float: left;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 15%;
}
.steps-page {
  display: flex;
  text-align: center;
}
.step-1 {
  max-width: 25%;
  max-height: 50%;
  background-color: #5acda6;
  font-size: 100%;
  padding: 50px;
}
.step-2 {
  max-width: 25%;
  max-height: 50%;
  background-color: #91ac41;
  padding: 50px;
}
.step-3 {
  max-width: 25%;
  max-height: 50%;
  background-color: #e4b476;
  padding: 50px;
}
.step-4 {
  max-width: 25%;
  max-height: 70%;
  background-color: #f69dad;
  padding: 50px;
  padding-bottom: 150px;
}
.fa-smile,
.fa-shopping-bag,
.fa-paint-brush,
.fa-cut {
  color: white;
}
.icon-steps {
  font-size: 100px;
}
.step1-main,
.step2-main,
.step3-main,
.step4-main {
  color: white;
  font-weight: 600;
  font-size: 23px;
}
.step1-text,
.step2-text,
.step3-text,
.step4-text {
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.6;
  color: white;
  max-width: 95%;
  text-align: center;
}
.section-3 {
  background-color: #f7eee2;
  padding-top: 5px;

  max-width: 100%;
  height: 100%;
  text-align: center;
  max-height: 90%;
  padding-bottom: 100px;
}
.title {
  color: #91ac41;
  font-size: 20px;
  font-family: "Caveat", cursive;
  margin: 0;
  margin-top: 100px;

  font-style: italic;
}
.main-text {
  font-size: 44px;
  font-weight: 600;
  padding: 0px;
  margin: 0%;
  margin-left: 10%;
  padding-top: 10px;
}
.under-text {
  font-size: 16px;
  font-weight: 500;
  color: #8b8b99;
  letter-spacing: 0.5px;
  padding: 0px;
  padding-bottom: 20px;
}
.section-items {
  display: flex;
  text-align: center;
  max-width: 75%;
  margin-left: 15%;
  padding-top: 10px;
}
.fa-camera,
.fa-rocket,
.fa-twitter,
.fa-weixin {
  background-color: #e3b375;
  font-size: 60px;
  color: white;
  padding: 40px;

  border-radius: 50%;
}
.text-section-main {
  font-size: 24px;
  font-weight: 600;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
.section-text {
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: #8b8b99;
  max-width: 75%;
  padding-left: 15%;
}
.high,
.sale,
.best,
.fresh {
  padding-right: 0px;
  padding: 0px;
  margin: 0px;
}
.sale {
  margin-left: -7%;
}
.best {
  margin-left: -7%;
}
.fresh {
  margin-left: -2%;
}
.section-4 {
  text-align: center;
  background-color: white;
}
.section-items4 {
  display: flex;
  max-width: 90%;
  max-height: 10%;

  font-size: 16px;
  font-weight: 500;
  color: #8b8b99;
  letter-spacing: 0.5px;
  padding-bottom: 100px;
}
.title-4 {
  color: #91ac41;
  font-size: 24px;
}
.under-text-4 {
  font-size: 16px;
  font-weight: 500;
  color: #8b8b99;
  letter-spacing: 0.5px;
  padding: 0px;
  padding-bottom: 20px;
}

.card1 {
  background-color: #f5f6fb;
  margin-left: 4%;
  padding: 30px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  width: 80%;
  max-width: 90%;
}
.face {
  border-radius: 50%;
  width: 80px;
  margin-left: 40%;
}
.card-text {
  font-size: 14px;
  letter-spacing: 0.5px;
  font-style: italic;
  color: #8b8b99;
  padding: 0px 10px 0px 10px;
  text-align: center;
}
.card-author {
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  color: black;
}
.card-undertext {
  font-size: 12px;
  color: #8b8b99;
  font-style: italic;
  text-align: center;
}
.card2 {
  background-color: #f5f6fb;
  margin-left: 4%;
  padding: 30px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  width: 80%;
  max-width: 90%;
}
.card3 {
  background-color: #f5f6fb;
  margin-left: 5%;
  padding: 30px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  width: 80%;
  max-width: 90%;
}
.section5 {
  display: flex;
  max-height: 40%;
}
.background-side {
  width: 67%;
  height: 67%;
  display: inline-block;
  margin: 0;
}
.background-side img {
  width: 100%;
}
.text-side {
  max-width: 30%;

  display: inline-block;
  background-image: url("https://edyoda.s3.ap-south-1.amazonaws.com/public/strawberry-white.png");
  background-position: left;
  background-size: cover;
  padding-left: 90px;
}
.main-title {
  font-size: 42px;
  font-weight: 700;
  padding-top: 0px;
}
.text-5 {
  max-width: 60%;
  color: #8b8b99;
  padding: 0px;
}
.mail {
  color: #8b8b99;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  outline: none;
  border-radius: 5px;
  padding: 15px;
  padding-right: 100px;
  max-width: 100%;
  border: none;
  margin-top: 15%;
}
.subscribe {
  background-color: #f69dad;
  color: white;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  max-width: 20%;
  margin-top: 2%;
  padding: 15px 30px;
  border-radius: 5px;
}
.section6 {
  background-color: #f6fcfa;
}
.section6-items {
  width: 100%;

  padding: 100px 0;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.section6-title {
  color: #000000;
  font-size: 44px;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
}
.section6-text {
  color: #57e3b5;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-style: italic;

  margin: 0;
}
.item1,
.item2,
.item3,
.item4 {
  padding-right: 140px;
}
.section7-title {
  color: #8b8b99;
  font-size: 42px;
  font-weight: 500;
  text-align: center;
}
iframe {
  margin-left: 27%;
  margin-top: -5%;
  width: 800px;
  height: 800px;
}
.section7-line {
  width: 100px;
  height: 1px;
  background-color: orange;
  margin-left: 47%;
}
.section8 {
  padding-left: 150px;
}
.section8-items {
  display: flex;
  padding-bottom: 100px;
}
.section8-subtitle {
  font-size: 16px;
  color: green;
  font-style: italic;
  padding: 0px;
}
.section8-title {
  font-size: 42px;
  font-weight: 2000px;
}
.section8-text1 {
  color: grey;
  max-width: 90%;
}
.section8-undertitle {
  font-size: 30px;
  font-weight: 800px;
}
.section8-text {
  color: grey;
}
.section8-subtitle2 {
  font-size: 16px;
  color: green;
  font-style: italic;
  padding: 0px;
}
.section8-title2 {
  font-size: 42px;
  font-weight: 2000px;
}
.section8-text2 {
  color: grey;
  max-width: 90%;
}
.section8-input {
  color: #8b8b99;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  outline: none;
  border-radius: 5px;
  padding: 15px;
  padding-right: 300px;
  display: block;
  max-width: 200%;
  font-size: 16px;
  margin-top: 2%;
  border: 1px solid rgb(211, 210, 210);
}
.section8-submit {
  background-color: green;
  color: white;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  max-width: 20%;
  margin-top: 2%;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
}
footer {
  text-align: center;
  padding: 25px;
  background-color: #232323;
  color: white;
  font-size: 12px;
  font-weight: 700;
}
.on-hover {
  position: absolute;
  top: 7%;
  right: 23vw;
  background-color: white;
  box-shadow: 2px 2px 2px grey;
  max-width: 100%;
  padding: 10px 100px 10px 20px;
  font-size: 14px;
  border-top: 2px solid green;
  max-height: 50%;
  display: none;
}
.on-hover > p {
  border-bottom: 1px solid grey;
}
